*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

h4 {
    margin: 2px;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.dependency {

    color: #337429;
    font-weight: bold;
    text-decoration: underline;
}

.dependency-k {

    color: #007aa4;
    font-weight: bold;
}

.dependency-null {

    color: #a51612;
    text-decoration: line-through;
}


fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal
}

ol,
ul,
li {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

q:before,
q:after {
    content: ''
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

.aligncenter {
    display: block;
    margin: 0 auto
}

.alignleft {
    float: left
}

.alignright {
    float: right
}

div {
    position: relative
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #f5f5f5 ;
    font-size: 11px;
    color: #888888;
    overflow-y:scroll;
}

a {
    color: #4682b4;
    text-decoration: none;
}

a:hover {
    color: #4682b4;
    text-decoration: underline;
}

.column-clear {
    clear: both;
}

.wrapper {
    margin: 0px auto;
    padding: 0px;
    width: 1080px;
}

.portfolio-content,
.portfolio-area {
    width: 1080px;
}

.title-page {
    font-size: 30px;
    margin: 40px 0 10px 0;
    color: #151515;
    font-weight: bold;
}


.goto {
    float: right;
    width: 130px;
    margin: -80px 30px 0px 0px;
}

.portfolio-categ {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.portfolio-sort {
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.portfolio-categ li, .portfolio-sort li {
    display: inline;
    margin-right: 10px;
    font-size: 13px;
}

.image-block {
    display: block;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #4682b4;
}

.image-block img {
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 0 0;
    background: #FFFFFF;
    padding: 10px;

}

.image-block img:hover {
    border: 1px solid #4682b4;
    box-shadow: 0 0 5px #4682b4;
}

.portfolio-area li {
    float: left;
    margin: 0 12px 20px 0;
    overflow: hidden;
    width: 193px;
    height:238px;
    padding: 5px;
}

.home-portfolio-text {
    margin-top: 10px;
}

li.active a {
    color:#666666;
    font-weight:bold;
}

.container-block {
    padding: 25px;
    position: fixed;
    left: 0;
}

li.ui-state-default {
    background: #fff0;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: left;

    padding-bottom: 10px;
    font-size: 12px;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

.right {
    position: absolute;
    right: 25px;
    top:20px;
;
}


.srch  {
    width: 190px;
    padding: 3px 10px;
    margin: 4px 2px;
    border: 2px solid #CCD6E4;
    border-radius: 6px;
    line-height: 2em;
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    opacity: 0.8;
}

.modal-content {
    background-color: #ffffff;
    margin: 20% auto;
    border-radius: 25px;
}

.modal-header{
}

.modal-body {
}

.modal-footer {
    margin: 10px 0 2px 0;
}

.button_close {
    width: 75px;
    height: 22px;
    background: url("../images/prettyPhoto/light_rounded/sprite.png") -1px -1px no-repeat;
    line-height: 22px;
    float: right;
}

.button_close:hover {
    cursor: pointer;
}

.pagination {
    clear: left;
    float: left;
    margin-top: 3px;
}

.pagination > .text {
    float: left;
    margin: 2px 4px;
}

.pagination > .arrow {
    float: left;
    width: 15px;
    height: 14px;
    margin-top: 3px;
    overflow: hidden;
}

.pagination > .arrow.left {
    background: url('../images/prettyPhoto/light_rounded/sprite.png') 0 -71px no-repeat;
}

.pagination > .arrow.left.disabled {
    background-position: 0 -87px;
}

.pagination > .arrow.right {
    background: url('../images/prettyPhoto/light_rounded/sprite.png') -22px -71px no-repeat;
}

.pagination > .arrow.right.disabled {
    background-position: -22px -87px;
}

#notice {
    z-index: 100;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    height: 0;
    position: fixed;
    background: #edf0f2,
    color: #111111;
    line-height: 24px;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
}

#notice.hidden {
    display: none;
}

#notice p {
    margin: 0;
    padding: 0;
}

#notice .ok {
    background: #660000;
    color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: 0 6px;
    margin-left: 8px;
    margin-top: 8px;
    font-size: 15px;
}

#notice .ok :hover {
    background: #990000;
}
